# macOS metadata
.DS_Store

# Logs and errors
*.log
*.err

# Simulation outputs
Simulations/Data/
Simulations/*.root
Simulations/*.binstat
Simulations/genie_xsec/

# Notebook checkpoints
**/.ipynb_checkpoints/
